<!-- status-display-component.html -->
<meta charset="UTF-8"/> <!-- For webstorm to show emojis -->
<link rel="stylesheet" href="/js/components/log-display.css"/>
<div class="log-viewer">
  <div id="log-messages" class="log-messages">
    <div class="log-message debug">[debug] User authentication successful.</div>
    <div class="log-message info">[info] Application started.</div>
    <div class="log-message notice">[notice] New user signup.</div>
    <div class="log-message warning">[warning] Low disk space.</div>
    <div class="log-message error">[error] Failed to load resource.</div>
    <div class="log-message critical">[critical] System crash imminent.</div>
    <div class="log-message alert">[alert] System overload.</div>
    <div class="log-message emergency">[emergency] Immediate action required.</div>
  </div>
</div>
